version: "3.1"
services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8888:8080
      - 50000:50000
    volumes:
      - ${ROOT}/jenkins_home:/var/jenkins_home